.login {
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
}
.logo {
    text-align: center;
}
.logo img {
    width: 150px;
}
.text_group,
.login_des,
.login_btn {
    margin-top: 20px;
}


