.MainNav{
  background:#fff;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height:1.3rem;
  display: flex;
  justify-content: space-around;
  z-index: 9999;
  align-items: center;
  .nav-Link{
    color: #232323;
  }
  i{
    display: block;
    margin: 0 auto;
    width: 0.8rem;
    height: 0.8rem;
  }
  span {
    font-size:0.27rem;
    display: block;
    color:#232323;
  }
  .active-Link {
    color: red;
  }
}
