.advertion-warp{
  padding: 0 0.4rem 0;
}
.advertion{
  width: 100%;
  height: 2.66667rem;
  border-radius: 1.33333rem;
  margin-bottom: 0.42667rem;
  overflow: hidden;
}
.advertion__block{
  display: block;
  width: 100%;
  height: 100%;
  img {
    border: none;
    border-color: transparent;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}