.hotShow{
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-bottom: 0.58667rem;
}
.hotShow-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.hotShow-header-rigth{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0.13333rem;
    font-size: 0.34667rem;
    color: #232323;
}

.hotShow-header-left{
    font-size: 0.48rem;
    line-height: 0.61333rem;
    height: 0.61333rem;
    color: #232323;
    font-weight: 700;
}
.performingJour-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.performingJour-top-l{
    font-size: 0.48rem;
    line-height: 0.61333rem;
    height: 0.61333rem;
    color: #232323;
    font-weight: 700;
}
.performingJour-top-r{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0.13333rem;
    
}
.performingJour-top-r-r{
    font-size: 0.34667rem;
    color: #232323;
}
.performingJour-top-r-l{
    width: 0.53333rem;
    height: 0.53333rem;
}
.performingJour-bottom{
    display: block;
}
.performingJour-bottom0{
    margin-top: 0.4rem;
}
.performingJour-bottom-c{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  .swiper-container-no-flexbox .swiper-slide {
    float: left;
  }
  .swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .swiper-container-multirow > .swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
  }
  .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  .hot-block__list__wrap__item{
    width: 2.66667rem;
    height: 3.62667rem;
    border-radius: 0.13333rem;
    overflow: hidden;
    border: solid 1px #ebebeb;
  }
  .hot-block__list__wrap__item img{
      width: 100%;
      height: 100%;
  }
.ei{
    width: 100.235px;
    margin-right: 8px;
}
.ei a{
    display: block;
}
.text-double{
    line-height: 0.56rem;
    min-height: 1.09333rem;
    font-size: 0.37333rem;
    color: #232323;
    margin-top: 0.29333rem;
    width: 100%;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.hot-block{
    margin-top: 0.4rem;
}
