html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure{margin:0;padding:0;}
*{box-sizing:border-box;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
u,a{text-decoration: none; color: #232323;}
ul,li,ol{list-style:none;}
img{border:0;vertical-align: middle;}
input{outline:none;}
body{font-family:"微软雅黑";}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
html,body{
  height:100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}